<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Voosh Food Technologies</h2>
    <h3>By abhinav Singh</h3>
    <a href="/more" class="btn">More </a>
  </div>
</header>


<%- include('partials/footer'); -%>