<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    
    <h4>This is extra work </h4>
    <p>As it helps me to keep working me harder please give me an opportunity </p>
  </li>
  <li class="recipe">
    
    <h4>My Current job</h4>
    <p>I am a full stack app developer in which flutter is the technology i am well versed with</p>
  </li>
  </ul>

<%- include('partials/footer'); -%>